@model LeitorNfe.Models.NotaFiscal

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Nota Fiscal - @Html.DisplayFor(model => model.NumNota)</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input asp-for="NomeArquivo" class="form-control" hidden />
            </div>
            <div class="form-group">
                <label asp-for="ArquivoXML" class="control-label"></label>
                <input class="form-control" asp-for="ArquivoXML" class="form-control" type="file"/> 
            </div>
            <div class="form-group">
                <label asp-for="NumPedidoCompra" class="control-label"></label>
                <input asp-for="NumPedidoCompra" class="form-control" />
                <span asp-validation-for="NumPedidoCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comentario" class="control-label"></label>
                <input asp-for="Comentario" class="form-control" />
                <span asp-validation-for="Comentario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="NumNota" class="form-control" hidden/>
                <input asp-for="Emitente" class="form-control" hidden/>
                <input asp-for="Destinatario" class="form-control" hidden/>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a type="button" class="btn btn-secondary" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
